<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Tabs api demo</title>
    <link rel="stylesheet" href="./cube.min.css">
    <link rel="stylesheet" href="./demo.css">
    <script src="../vue.min.js"></script>
    <script src="./jQuery-1.9.1.js"></script>
    <script src="./PrismJs.js"></script>
</head>

<body>
    <div id="app" class="main">
        <h1 class="logo">Tabs Api</h1>
        <div class="nav-tabs">
            <ul id="tabs" class="dib-box">
                <li class="dib active"><span> CDN </span></li>
                <li class="dib"><span> NodeJS </span></li>
            </ul>
        </div>
        <div class="tab-container">
            <div class="content unicode" style="display: block;">
                <div class="article markdown">
                    <h2 id="unicode-">基础用法</h2>
                    <hr>
                    <p>默认样式</p>
                    <ul>
                        <li>Tabs 组件在使用之前，需要有相关的依赖库进行支持，如需阅读：<a href="./start.api.html" target="_blank" >快速开始</a></li>
                        <li>Tabs 组件具有默认的<b>宽度 (100%)</b> 和<b>高度 (auto)</b>, 且Tab Nav栏的<b>高度固定占用40px</b></li>
                        <li><b>iVsomTabs 与 iVsomTabsPanel 需配合使用</b>，单独使用任一组件，将会无法达到预定期望。</li>
                        <li style="font-weight: bold;">Tabs Props: </li>
                        <li>width: number | string 宽度</li>
                        <li>height: number | string Tabs 高度</li>
                        <li>value: string Tabs Pages 被选中的值</li>
                        <li>flex: boolean Tab Panel 是否响应式容器大小</li>
                        <li>stretch: boolean  Tab Label 是否自撑开宽度</li>
                        <li>type: 'default' | 'card' | 'nav' Tabs 外形样式定义</li>
                        <li>closable: boolean Tabs Nav 关闭按钮</li>
                        <li>opne: boolean Tabs Nav 新增按钮</li>
                        <li style="font-weight: bold;">TabPanel Props: </li>
                        <li>name: string Tabs label 标题</li>
                        <li>index: string Tab label 选中值</li>
                    </ul>
                    <blockquote>
                        <i-vsom-tabs v-model="index">
                            <i-vsom-tabs-panel name='Tabs - 1' index="1">Tabs - 1</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 2' index="2">Tabs - 2</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 3' index="3">Tabs - 3</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 4' index="4">Tabs - 4</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <pre><code class="language-html"
>&lt;i-vsom-tabs v-model="index"&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 1' index="1"&gt;Tabs - 1&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 2' index="2"&gt;Tabs - 2&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 3' index="3"&gt;Tabs - 3&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 4' index="4"&gt;Tabs - 4&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
</code></pre>
                    <p>卡片样式</p>
                    <blockquote>
                        <i-vsom-tabs v-model="index_1" type="card">
                            <i-vsom-tabs-panel name='Tabs - 1' index="1">Tabs - 1</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 2' index="2">Tabs - 2</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 3' index="3">Tabs - 3</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 4' index="4">Tabs - 4</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <pre><code class="language-html"
>&lt;i-vsom-tabs v-model="index_1" type="card"&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 1' index="1"&gt;Tabs - 1&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 2' index="2"&gt;Tabs - 2&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 3' index="3"&gt;Tabs - 3&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 4' index="4"&gt;Tabs - 4&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
</code></pre>
                    <p>导航样式</p>
                    <blockquote>
                        <i-vsom-tabs v-model="index_2" type="nav">
                            <i-vsom-tabs-panel name='Tabs - 1' index="1">Tabs - 1</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 2' index="2">Tabs - 2</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 3' index="3">Tabs - 3</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 4' index="4">Tabs - 4</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <pre><code class="language-html"
>&lt;i-vsom-tabs v-model="index_2" type="nav"&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 1' index="1"&gt;Tabs - 1&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 2' index="2"&gt;Tabs - 2&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 3' index="3"&gt;Tabs - 3&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 4' index="4"&gt;Tabs - 4&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
</code></pre>
                    <h2 id="unicode-">布局定位</h2>
                    <hr>
                    <p>宽与高</p>
                    <ul>
                        <li>Tabs 组件具有默认的<b>宽度 (100%)</b> 和<b>高度 (auto)</b>, 且Tab Nav栏的<b>高度固定占用40px</b></li>
                        <li>宽（Width）与高（Height）的使用支持Number、String类型值，如： 500, '500px', '50%'</b></li>
                    </ul>
                    <blockquote>
                        <i-vsom-tabs v-model="index_3" :width="600" height="200px">
                            <i-vsom-tabs-panel name='Tabs - 1' index="1" style='background: rgb(153, 169, 191); color: #fff;'>Tabs - 1</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 2' index="2" style='background: rgb(153, 169, 191); color: #fff;'>Tabs - 2</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 3' index="3" style='background: rgb(153, 169, 191); color: #fff;'>Tabs - 3</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 4' index="4" style='background: rgb(153, 169, 191); color: #fff;'>Tabs - 4</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <pre><code class="language-html"
>&lt;i-vsom-tabs v-model="index_3" :width="600" height="200px"&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 1' index="1" style='background: rgb(153, 169, 191); color: #fff;'&gt;Tabs - 1&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 2' index="2" style='background: rgb(153, 169, 191); color: #fff;'&gt;Tabs - 2&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 3' index="3" style='background: rgb(153, 169, 191); color: #fff;'&gt;Tabs - 3&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 4' index="4" style='background: rgb(153, 169, 191); color: #fff;'&gt;Tabs - 4&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
</code></pre>
                    
                    <p>内容自适应</p>
                    <blockquote>
                        <i-vsom-tabs v-model="index_4" :width="600" height="200px" flex>
                            <i-vsom-tabs-panel name='Tabs - 1' index="1" style='background: rgb(153, 169, 191); color: #fff;'>Tabs - 1</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 2' index="2" style='background: rgb(153, 169, 191); color: #fff;'>Tabs - 2</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 3' index="3" style='background: rgb(153, 169, 191); color: #fff;'>Tabs - 3</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 4' index="4" style='background: rgb(153, 169, 191); color: #fff;'>Tabs - 4</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <pre><code class="language-html"
>&lt;i-vsom-tabs v-model="index_4" :width="600" height="200px" flex&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 1' index="1" style='background: rgb(153, 169, 191); color: #fff;'&gt;Tabs - 1&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 2' index="2" style='background: rgb(153, 169, 191); color: #fff;'&gt;Tabs - 2&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 3' index="3" style='background: rgb(153, 169, 191); color: #fff;'&gt;Tabs - 3&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 4' index="4" style='background: rgb(153, 169, 191); color: #fff;'&gt;Tabs - 4&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
</code></pre>
                    <h2 id="unicode-">Tabs Nav自撑开</h2>
                    <hr>
                    <p>Stretch</p>
                    <blockquote>
                        <i-vsom-tabs v-model="index_5" stretch>
                            <i-vsom-tabs-panel name='Tabs - 1fdssafsafsafdsafasdfsfasfsdafsafd' index="1">Tabs - 1</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 2' index="2">Tabs - 2</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 3' index="3">Tabs - 3</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 4' index="4">Tabs - 4</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <blockquote>
                        <i-vsom-tabs v-model="index_6" type='card' stretch>
                            <i-vsom-tabs-panel name='Tabs - 1' index="1">Tabs - 1</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 2' index="2">Tabs - 2</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 3' index="3">Tabs - 3</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 4' index="4">Tabs - 4</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <blockquote>
                        <i-vsom-tabs v-model="index_7" type='nav' stretch>
                            <i-vsom-tabs-panel name='Tabs - 1' index="1">Tabs - 1</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 2' index="2">Tabs - 2</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 3' index="3">Tabs - 3</i-vsom-tabs-panel>
                            <i-vsom-tabs-panel name='Tabs - 4' index="4">Tabs - 4</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <pre><code class="language-html"
>&lt;i-vsom-tabs v-model="index_5" stretch&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 1' index="1"&gt;Tabs - 1&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 2' index="2"&gt;Tabs - 2&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 3' index="3"&gt;Tabs - 3&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 4' index="4"&gt;Tabs - 4&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
 &lt;i-vsom-tabs v-model="index_6" type='card' stretch&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 1' index="1"&gt;Tabs - 1&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 2' index="2"&gt;Tabs - 2&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 3' index="3"&gt;Tabs - 3&lt;/i-vsom-tabs-panel&gt;
    &lt;i-vsom-tabs-panel name='Tabs - 4' index="4"&gt;Tabs - 4&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
 &lt;i-vsom-tabs v-model="index_7" type='nav' stretch&gt;
     &lt;i-vsom-tabs-panel name='Tabs - 1' index="1"&gt;Tabs - 1&lt;/i-vsom-tabs-panel&gt;
     &lt;i-vsom-tabs-panel name='Tabs - 2' index="2"&gt;Tabs - 2&lt;/i-vsom-tabs-panel&gt;
     &lt;i-vsom-tabs-panel name='Tabs - 3' index="3"&gt;Tabs - 3&lt;/i-vsom-tabs-panel&gt;
     &lt;i-vsom-tabs-panel name='Tabs - 4' index="4"&gt;Tabs - 4&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
</code></pre>
                    <h2 id="unicode-">Tabs Nav溢出操作</h2>
                    <hr>
                    <p>Tabs Nav Move</p>
                    <ul>
                        <li>Stretch 自撑宽度与Tab Nav溢出交互是冲突逻辑交互，如果Tab Nav过多，请误使用 Stretch。</li>
                        <!-- <li>注意： 示例代码中 { { i } } 应该写为 {{ '\u007b\u007b i \u007d\u007d' }}，花括号之间不能有空格，示例代码写法是另有原因。</li> -->
                    </ul>
                    <blockquote>
                        <i-vsom-tabs v-model="index_8">
                            <i-vsom-tabs-panel v-for="(val, i) in 30" :name="'Tabs - ' + i" :index="i" key="i">Tabs - {{ i }}</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <b>Or</b>
                    <blockquote>
                        <i-vsom-tabs v-model="index_8" type='nav'>
                            <i-vsom-tabs-panel v-for="(val, i) in 30" :name="'Tabs - ' + i" :index="i" key="i">Tabs - {{ i }}</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <pre><code class="language-html"
>&lt;i-vsom-tabs v-model="index_8"&gt;
    &lt;i-vsom-tabs-panel v-for="(val, i) in 30" :name="'Tabs - ' + i" :index="i" key="i"&gt;Tabs - {{ '\u007b\u007b i \u007d\u007d' }}&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;

 &lt;i-vsom-tabs v-model="index_8" type='nav'&gt;
    &lt;i-vsom-tabs-panel v-for="(val, i) in 30" :name="'Tabs - ' + i" :index="i" key="i"&gt;Tabs - {{ '\u007b\u007b i \u007d\u007d' }}&lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
</code></pre>


                    <h2 id="unicode-">Tabs Nav关闭操作</h2>
                    <hr>
                    <p>Closable</p>
                    <ul>
                        <li>Closable Boolean类型，启用Tab Nav 关闭按钮</li>
                        <li>onTabsNavClose: Arguments(panes : Vue) Closable开启后，每个Tab Nav后面的关闭按钮触发事件。</li>
                    </ul>
                    <blockquote>
                        <i-vsom-tabs v-model="index_9" type='nav' @on-tabs-nav-close="onTabsNavClose"  :closable="tabs.length > 1" stretch>
                            <i-vsom-tabs-panel v-for="(tab, i) in tabs" :name='tab.name' :index="tab.index" :key="i">{{ tab.name }}</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <b>Or</b>
                    <blockquote>
                        <i-vsom-tabs v-model="index_10" type='nav' @on-tabs-nav-close="onTabsNavClose_1"  :closable="Object.keys(navs).length > 1">
                            <i-vsom-tabs-panel v-for="(val, i) in navs" :name="val" :index="i" key="i">{{ val }}</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <pre><code class="language-html"
>&lt;i-vsom-tabs v-model="index" type='nav' @on-tabs-nav-close="onTabsNavClose"  :closable="tabs.length > 1" stretch&gt;
    &lt;i-vsom-tabs-panel v-for="(tab, i) in tabs" :name='tab.name' :index="tab.index" :key="i"&gt; {{ '\u007b\u007b tab.name \u007d\u007d' }} &lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;

 &lt;i-vsom-tabs v-model="index_1" type='nav' @on-tabs-nav-close="onTabsNavClose_1"  :closable="Object.keys(navs).length > 1"&gt;
    &lt;i-vsom-tabs-panel v-for="(val, i) in navs" :name="val" :index="i" key="i"&gt; {{ '\u007b\u007b val \u007d\u007d' }} &lt;/i-vsom-tabs-panel&gt;
 &lt;/i-vsom-tabs&gt;
</code></pre>
                    <pre><code class="language-js"
>
var app = new Vue({
    el : '#app',
    data : function() {
        return {
            index : '1',
            index_1 : '0',
            tabs : [
                { name : "Tabs - 1", index : "1" },
                { name : "Tabs - 2", index : "2" },
                { name : "Tabs - 3", index : "3" },
                { name : "Tabs - 4", index : "4" }
            ],
            navs : {
                '0' : 'Tabs - 0',
                '1' : 'Tabs - 1',
                '2' : 'Tabs - 2',
                '3' : 'Tabs - 3',
                '4' : 'Tabs - 4',
                '5' : 'Tabs - 5',
                '6' : 'Tabs - 6',
                '7' : 'Tabs - 7',
                '8' : 'Tabs - 8',
                '9' : 'Tabs - 9',
                '10' : 'Tabs - 10',
                '11' : 'Tabs - 11',
                '12' : 'Tabs - 12',
                '13' : 'Tabs - 13',
                '14' : 'Tabs - 14',
                '15' : 'Tabs - 15',
                '16' : 'Tabs - 16',
                '17' : 'Tabs - 17',
            }
        }
    },
    methods : {
        onTabsNavClose : function(panes) {
            var me = this;
            var index = panes.index;
            me.tabs = me.tabs.filter(function(item) { return item.index !== index });
            if(me.index === index) {
                me.index = me.tabs[0].index;
            }
        },
        onTabsNavClose_1 : function(panes) {
            var me = this;
            var index = panes.index;
            me.$delete(me.navs, index);
            if(me.index_10 === index) {
                me.index_10 = Object.keys(me.navs)[0];
            }
        }
    }
})
</code></pre>


                    <h2 id="unicode-">Tabs Event 事件</h2>
                    <hr>
                    <ul>
                        <li>onTabsNavClose: Arguments(panes : Vue) Closable开启后，每个Tab Nav后面的关闭按钮触发事件。</li>
                        <li>onTabsChange: Arguments(e : MouseEvent, index : string) Tabs Nav 切换事件</li>
                    </ul>
                    <blockquote>
                        <i-vsom-tabs v-model="index_11" type='nav' @on-tabs-nav-close="onTabsNavClose_2" @on-tabs-change="onTabsNavChange"  closable>
                            <i-vsom-tabs-panel v-for="(val, i) in navs" :name="val" :index="i" key="i">{{ val }}</i-vsom-tabs-panel>
                        </i-vsom-tabs>
                    </blockquote>
                    <pre><code class="language-html"
>&lt;i-vsom-tabs v-model="index" type='nav' @on-tabs-nav-close="onTabsNavClose" @on-tabs-change="onTabsNavChange"  closable&gt;
    &lt;i-vsom-tabs-panel v-for="(val, i) in navs" :name="val" :index="i" key="i"&gt; {{ '\u007b\u007b val \u007d\u007d' }}&lt;/i-vsom-tabs-panel&gt;
&lt;/i-vsom-tabs&gt;
</code></pre>
                    <pre><code class="language-js"
>
var app = new Vue({
    el : '#app',
    data : function() {
        return {
            index : '0',
            navs : {
                '0' : 'Tabs - 0',
                '1' : 'Tabs - 1',
                '2' : 'Tabs - 2',
                '3' : 'Tabs - 3',
                '4' : 'Tabs - 4',
                '5' : 'Tabs - 5',
                '6' : 'Tabs - 6',
                '7' : 'Tabs - 7',
                '8' : 'Tabs - 8',
                '9' : 'Tabs - 9',
                '10' : 'Tabs - 10',
                '11' : 'Tabs - 11',
                '12' : 'Tabs - 12',
                '13' : 'Tabs - 13',
                '14' : 'Tabs - 14',
                '15' : 'Tabs - 15',
                '16' : 'Tabs - 16',
                '17' : 'Tabs - 17',
            }
        }
    },
    methods : {
        onTabsNavClose : function(panes) {
            alert(panes.name);
        },
        onTabsNavChange : function(e, index) {
            alert(index);
        }
    }
})
</code></pre>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {
            $('.tab-container .content:first').show()

            $('#tabs li').click(function (e) {
                var tabContent = $('.tab-container .content')
                var index = $(this).index()

                if ($(this).hasClass('active')) {
                    return
                } else {
                    $('#tabs li').removeClass('active')
                    $(this).addClass('active')

                    tabContent.hide().eq(index).fadeIn()
                }
            })
        })
    </script>
    <script src="./tabs.demo.js"></script>
</body>

</html>