/**
 * Developer    :   SongQian
 * Time         :   2020-08-13
 * eMail        :   onlylove1172559463@vip.qq.com
 * Description  :   表单样式
 */
 @import "./ivsom-variable";
 @import "./ivsom-mixin";

.ivsom-form {
    width: 100%;
}

.ivsom-form-validator {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;
    box-sizing: border-box;

    &.ivsom-form-validator__inline {
        display: inline-flex;
    }

    @for $col from 1 through 30 {
        &.ivsom-form-validator__span_#{$col} {
            width: (100% / 30) * $col;
        }
    }

    @for $col from 1 through 30 {
        &.ivsom-form-validator__offset_#{$col} {
            margin-left: (100% / 30) * $col;
        }
    }

    > div.has-required {
        flex: 0 0 16px;
        text-align: center;
        align-self: center;
        color: $danger-color;
    }

    > div.ivsom-form-validator-label {
        flex: 0 0 auto;
        text-align: left;
        align-self: center;
        overflow: hidden;
        text-emphasis: ellipsis;
        white-space : nowrap;
        padding: 5px;
        box-sizing: border-box;
        color: $font-common-color;
        font-family: $font-family;
        @include font-text;
    }

    > .ivsom-form-validator__wapper {
        flex: 1 1 auto;
        position: relative;
        box-sizing: border-box;

        > .ivsom-form-validator__error {
            position: absolute;
            left: 15px;
            top: 100%;
            height: 0px;
            display: none;
            overflow: hidden;
            color: $danger-color !important;
            font-family: $font-family;
            @include font-sub-text;

            &.hasValidate {
                height: auto;
                display: block;
                transition: all .5s ease;
            }
        }
    }
}