$primary-color : #2999f7 !default; //蓝色

$success-color : #3bd134 !default; //绿色

$warning-color : #ecc025 !default; //橘黄色

$danger-color : #f75f3c !default; //红色

$default-color : #fff !default; //白色

$border-primary-color : #2999f7 !default; //边框蓝色

$border-success-color : #3bd134 !default; //边框绿色

$border-warning-color : #ecc025 !default; //边框橘黄色

$border-danger-color : #f75f3c !default; //边框红色

$border-default-color : #646464 !default; //普通边框

$border-gray-color: #969696 !default; //灰度元素边框

$border-sub-color : #e4e7ed !default; //淡色边框

$font-primary-color : #323232 !default; //重点文字

$font-common-color : #646464 !default; //普通文字

$font-sub-color : #969696 !default;  //次要文字

$font-symbol-color : #c8c8c8 !default; //占位符文字

$font-family : "pingfang SC", Helvetica, Arial, "Microsoft YaHei" !default; //字体
