/**
 * Developer    :   SongQian
 * Time         :   2020-10-20
 * eMail        :   songqian@wtoe.cn
 * Description  :   表单输入框样式
 */
 @import "./ivsom-variable";
 @import "./ivsom-mixin";
 @import "./animate";

 .ivsom-select {
    outline: none;
    border:1px solid $border-primary-color;
    border-radius: 5px;
    transition: border .3s ease;
    position: relative;

    &.ivsom-select__hasError {
        border: 1px solid $border-danger-color;

        .ivsom-select__warpper {
            > .ivsom-select__ctx {
                > .ivsom-select_label_item {
                    background-color: rgba(247, 95, 60, .2);
                    color: $danger-color;
                }
            }
            
            > .ivsom-input__prefix > .iconfont {
                color: $danger-color;
            }
        
            > .ivsom-input__suffix > .iconfont {
                color: $danger-color;
            }

            > .ivsom-select__dropdown > .iconfont {
                color: $danger-color;
            }
        }
    }

    &.ivsom-select__medium {
        height : 32px;
        line-height: 32px;
        @include font-text;

        > .ivsom-select__prefix {
            flex: 0 0 32px;
        }

        > .ivsom-select__suffix {
            flex: 0 0 32px;
        }
    }

    &.ivsom-select__small {
        height : 26px;
        line-height: 26px;
        @include font-text;

        > .ivsom-select__prefix {
            flex: 0 0 26px;
        }

        > .ivsom-select__suffix {
            flex: 0 0 26px;
        }
    }
    
    &.ivsom-select__mini {
        height : 20px;
        line-height: 20px;
        @include font-text;

        > .ivsom-select__prefix {
            flex: 0 0 20px;
        }

        > .ivsom-select__suffix {
            flex: 0 0 20px;
        }
    }

    &.ivsom-select__multiple {
        height: auto;

        &.ivsom-select__medium {
            min-height: 32px;
            line-height: 32px;
        }
        
        &.ivsom-select__small {
            min-height: 26px;
            line-height: 26px;
        }
        
        &.ivsom-select__mini {
            min-height: 20px;
            line-height: 20px;
        }
    }

    &.ivsom-select__disabled {
        background-color: #eee;
        border: 1px solid $border-gray-color;
        cursor: no-drop;

        > .ivsom-select__warpper {

            > .ivsom-select__ctx {
                cursor: no-drop;
            }
        }
    }

    &.ivsom-select__hover:hover,
    &.ivsom-select__focus:focus {

        > .ivsom-select__warpper > .ivsom-select__dropdown {

            i.iconfont::before {
                content: "\e6c7";
            }
        }

        .ivsom-select__dropArea {
            display: block;
            animation: ivsom-fade-down .3s linear 0s 1 none;
        }
    }

    .ivsom-select__warpper {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        outline: none;
        height: 100%;
        position: relative;

        > .ivsom-select__ctx {
            border: 0px solid #fff;
            flex: 1 1 auto;
            outline: none;
            text-indent: 1em;
            background: transparent;
            resize: none;
            cursor: text;
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            @include font-text;

            > .ivsom-select_placeholder {
                position: absolute;
                left : 5px;
                display: block;
                z-index: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                user-select: none;
                color: $font-symbol-color;
            }

            > .ivsom-select_label {
                color: $font-common-color;
            }

            > .ivsom-select_label_item {
                padding: 5px;
                height: 26px;
                line-height: 14px;
                font-size: 14px;
                margin: 5px;
                border-radius: 4px;
                box-sizing: border-box;
                background-color: rgba(41, 153, 247, .2);
                color: $primary-color;
                float: left;

                > small {
                    max-width: 4em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-indent: 0px;
                }

                > .iconfont {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
        
        > .ivsom-input__prefix {
            text-align: center;
            align-self: center;
            @include font-sub-text;
        }
    
        > .ivsom-input__suffix {
            text-align: center;
            align-self: center;
            @include font-sub-text;
        }
    
        > .ivsom-select__dropdown {
            text-align: center;
            align-self: center;
            cursor: pointer;
            @include font-sub-text;
        } 
    } 

    > .ivsom-select__dropArea {
        width: 100%;
        display: none;
        padding-top: 5px;
        position: absolute;
        border-radius: 5px;
        left: 0px;
        top: 100%;
        z-index: 999;

        > .ivsom-select__options {
            width: 100%;
            background: #fff;
            border: 1px solid $border-primary-color;
            min-height: 50px;
            max-height: 320px;
            overflow-y: auto;
            margin-block-start: 0px;
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            border-radius: 5px;
            box-sizing: border-box;

            &::-webkit-scrollbar {
                width: 8px;
                border-radius: 4px;
                background-color: #ddd;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #c8c8c8;
                border-radius: 4px;
            }

            > li {
                margin: 0px;
                padding: 0px;
                height: 36px;
                text-indent: 20px;
                line-height: 36px;
                list-style: none;
                cursor: pointer;

                &.ivsom-select__option__disabled {
                    background-color: #eee !important;
                    cursor: no-drop;
                }

                &:hover {
                    background-color: rgba(41, 153, 247, .1);
                }
            }
        }
    }

 }