@import "./ivsom-variable";
@import "./ivsom-mixin";

.ivsom-switch {
  padding: 2px;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  transition: background-color ease-in-out .3s;

  &.ivsom-switch__medium {
    width: 64px;
    height: 32px;
    border-radius: 16px;

    > .ivsom-switch__tocuh {
      width: 28px;
    }
  }

  &.ivsom-switch__small {
    width: 52px;
    height: 26px;
    border-radius: 13px;

    > .ivsom-switch__tocuh {
      width: 22px;
    }
  }
  
  &.ivsom-switch__mini {
    width: 40px;
    height: 20px;
    border-radius: 10px;

    > .ivsom-switch__tocuh {
      width: 16px;
    }
  }

  &.ivsom-switch__active {
    > .ivsom-switch__tocuh {
      float: right;
    }
  }

  &.ivsom-switch__disabled {
    cursor: no-drop;
    background-color: #969696 !important;
  }

  > .ivsom-switch__tocuh {
    height: 100%;
    display: block;
    border-radius: 50%;
    background-color: #eee;
    float: left;
    transition: float ease-in .5s;
  }

  > input { display: block; }

}